
<form class="ajaxForm" method="post" action="/addCloth">
    {{> select data.model multiple='multiple'}}
    {{> select data.glass multiple='multiple'}}
    {{> select data.lacobel multiple='multiple'}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    // const classParams = 'params';
    // const keyParams = 'params';
    // insertAsSelects($(`.${classParams}`), data[keyParams]);
    // var subsect = new Subsect(data, classParams, keyParams);
</script>