<script>
    const data = {{{json data}}};
    console.log(data);
</script>
<form class="ajaxForm" method="post" action="/addCloth">
    {{> select data.material }}
    {{> select data.series }}
    {{> select data.model }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>