<form class="ajaxForm" before-send="subsect.processParams" after-send="subsect.repairParams" action="/addDoor">
    {{> select data.fields.material}}
    {{> select data.fields.series}}
    {{> select data.fields.model multiple='multiple'}}

    {{> select data.fields.cloth}}
    {{> select data.fields.box multiple='multiple'}}
    {{> select data.fields.jamb multiple='multiple'}}
    {{> select data.fields.dock multiple='multiple'}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    const classParams = 'cloth-params';
    const keyParams = 'cloth';

    const linkedElements = [
        {parent:'material', child:'series'},
        {parent:'series', child:'model'}
    ];
    const nodes = new Nodes(Object.assign(data['fields'], data['nodes']), linkedElements, true);
    // const activeFilter = new ActiveFilter([$('#model'), $('#color'), $('#furnish'), $('#glass'), $('#dop')], data['fields'][keyParams]['values']);
    //
    $('#model').on("change", function () {
        const val = $(this).val();
        $('#cloth').val(null);
        data.fields.cloth.values.map(function (item) {
            const finded = item.model.find(function (model) {
                return val.indexOf(model._id) !== -1;
            });
            if (!finded) {
                $(`#cloth option[value='${item._id}']`).prop('disabled', true);
            } else {
                $(`#cloth option[value='${item._id}']`).prop('disabled', false);

            }
        });
    });
    nodes.initRelations();
    // insertAsSelects($(`.${classParams}`), data['fields'][keyParams], ['__v', 'title'], ['color', 'furnish'], createAF);
    var subsect = new Subsect(data['fields'], classParams, keyParams, [$('#model')]);
</script>


