<form class="ajaxForm"  action="/addDoor">
    {{> select data.material}}
    {{> select data.series}}
    {{> select data.model }}

    {{> select data.cloth}}
    {{> select data.color multiple='multiple'}}
    {{> select data.furnish multiple='multiple'}}
    {{> select data.box multiple='multiple'}}
    {{> select data.jamb multiple='multiple'}}
    {{> select data.dock multiple='multiple'}}
    {{> select data.lacobel multiple='multiple'}}
    {{> select data.dop multiple='multiple'}}
    {{> select data.cloth_type multiple='multiple'}}
    {{> select data.decorative_element multiple='multiple'}}
    {{> checkbox data.portal }}
    {{> checkbox data.cornice_board }}
    {{> checkbox data.feigned_plank  }}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    const linkedElements = [
        {parent:'material', child:'series'},
        {parent:'series', child:'model'}
    ];
    const nodes = new Nodes(data, linkedElements, true);
    $('#model').on("change", function () {
        const val = $(this).val();
        let tonull = false;
        const valCloth = $('#cloth').val();
        data.cloth.values.map(function (item) {
            const finded = item.model._id === val;
            if (!finded) {
                if(!tonull && valCloth === item._id) {
                    tonull = true;
                }
                $(`#cloth option[value='${item._id}']`).prop('disabled', true);
            } else {
                $(`#cloth option[value='${item._id}']`).prop('disabled', false);

            }
        });
        if(tonull) {
            $('#cloth').val(null).change();
        }
    });
    nodes.initRelations();
</script>


