
<form class="ajaxForm" method="post" action="/setClothPrice">
    {{> select data.cloth multiple='multiple'}}
    {{> select data.color multiple='multiple'}}
    {{> select data.furnish multiple='multiple'}}
    {{> select data.cloth_type multiple='multiple'}}
    {{> select data.dop multiple='multiple'}}
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="patina">Патина</label>
            </div>
            <div class="col-6">
                <input type="checkbox" id="patina" name="patina" class="form-control" value="true"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="reinforced">Усиленный</label>
            </div>
            <div class="col-6">
                <input type="checkbox" id="reinforced" name="reinforced" class="form-control" value="true"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="width">Ширина</label>
            </div>
            <div class="col-6">
                <input name="width" id="width"  class="form-control" />

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="height">Высота</label>
            </div>
            <div class="col-6">
                <input name="height" id="height"  class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="price">Цена</label>
            </div>
            <div class="col-6">
                <input name="price" id="price"  class="form-control" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    // const classParams = 'params';
    // const keyParams = 'cloth_params';
    //
    // insertAsSelects($(`.${classParams}`), data[keyParams]);
    // var subsect = new Subsect(data, classParams, keyParams);
</script>