{{#if data.error}}
{{> error data.error}}
{{/if}}
<div class="table-block">

</div>
<div class="custom-r_select-block"></div>
<script>
    loader.onLoad(function () {
        const promises = [];
        promises.push(getPartial('dropdownMenu'), getTemplate('table'));
        Promise.all(promises).then(function (result) {
            for (const i in data.all) {
                $(".custom-r_select-block").append(result[0](Object.assign(data.all[i], {prefix:'f_'})));
            }

            $(".table-block").append(result[1]({
                items: data.items,
                columns: [
                    {title: LNG.translate("model"), code: 'model'},
                    {title: LNG.translate("color"), code: 'color'},
                    {title: LNG.translate("furnish"), code: 'furnish'},
                    {title: LNG.translate("glass"), code: 'glass'}
                ]
            }));
            const editTable = new EditTable($(".table-block table"), $('.dropdown-menu'));

        })
    }, this)

</script>