<div class="btn-group" data-id="{{code}}">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{{title}} <span class="caret"></span></a>
    <ul class="dropdown-menu">
        {{#each values}}
        <li class="dropdown-item px-2"><a href="#">{{title}}</a></li>
        {{/each}}

    </ul>
</div>
