<div class="btn-group custom-r_select" data-id="{{code}}">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{{#w_title}}{{title}}{{/w_title}} <span class="caret"></span></a>
    {{> dropdownMenu}}
</div>