body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
select[multiple] {
  height: 300px;
}
option:disabled {
  display: none;
}
.custom-control-input:checked+label {
  background: #0275d8;
  color: #fff;
}
.c-pointer {
  cursor: pointer;
}
.disabled {
  opacity: .1;
  cursor: default;
}
.table-hover-td td:hover{
 background-color: rgba(0,0,0,.075);
}
.dropdown-menu.show {
  display: block;
}
.hidden {
  display: none;
}
.error-flash-message {
  position: absolute;
  background: rgba(0,0,0,.4);
  padding: 5px 10px;
  border-radius: 5px;
}

.gray-border {
  border: 1px solid #ced4da;
  color: #808182;
}

select.form-control:not([size]):not([multiple]) {
  flex-direction: row;
}