body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
select[multiple] {
  height: 300px;
}

.custom-control-input:checked+label {
  background: #0275d8;
  color: #fff;
}
.c-pointer {
  cursor: pointer;
}
.table-hover-td td:hover{
 background-color: rgba(0,0,0,.075);
}
.dropdown-menu.show {
  display: block;
}